:root {
  --primary-color: greenyellow;
  --secondary-color: steelblue;
  --btn-color: orange;
  
  --table-width: 3100px;
  --table-height: 3100px;
  
  --table-z-index: 1;
  --ui-z-index: 1000;
  --player-icn-z-index: 1500;
  --login-z-index: 2000;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'ff-brokenscript-web', 'Josefin Sans', sans-serif;
}

/* width */
/* ::-webkit-scrollbar {
  width: 5px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: transparent;
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
  border-style: solid;
  border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-style: solid;
  border-radius: 10px;
} */

#table_container {
  position: fixed;
  z-index: var(--table-z-index);
  
  width: 100%;
  height: 100%;
  
  overflow: scroll;
  cursor: default;
  
  touch-action: none;
}

#table {
  position: absolute;
  top: 0;
  left: 0;
  
  height: var(--table-height);
  width: var(--table-width);
  
  background: url('/resources/backgrounds/table_v2.svg');
  background-size: 100%;
  background-position: contain;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
  
  transform-origin: top left;
  transition: all 0.4s;
  transform: scale(1.0);
  
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#table_spacer {
  content: '';
  position: relative;
  z-index: -1;
  height: var(--table-height);
  width: var(--table-width);
}

.table__bg_0 {
  background: url('/resources/backgrounds/table_v2.svg');
}

.table__bg_1 {
  background: url('/resources/backgrounds/table_v2.svg');
}

#drawing_area {
  height: 100%;
  width: 100%;

  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@media screen and (orientation:portrait) and (max-width: 992px) {
  .terminal_container {
    height: 30vh !important;
    width: 95vw !important;
    margin-left: 2vw !important;
    margin-top: 3vh !important;
    
    font-size: 3em;
  }
  
  .terminal_container #console_input {
    width: 85% !important;
  }
}

@media screen and (orientation:landscape) and (max-width: 992px) {
  #combine_btn {
    top: 12vw;
  }
}

.player {
  position: absolute;
  z-index: 500;
  height: 0.5vw;
  width: 0.5vw;
  margin-top: -0.25vw;
  margin-left: -0.25vw;

  border-radius: 5vw;

  pointer-events: none;

  -webkit-transform: translate3d(0,0,0);
  
  z-index: var(--player-icn-z-index);
}

.player_anim {
  transition: all 0.1s;
}

.player .nametag {
  position: relative;
  font-size: 1.5vw;
  top: -15px;
  left: 15px;
}

.floating_nametag {
  position: absolute;
  text-align: center;
  font-size: 1.5vw;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  touch-action: none;

  -webkit-transform: translate3d(0,0,0);
}

.floating_nametag .player_cash {
  margin-top: 0.1vw;
  padding-top: 0.1vw;
  border-top: solid;
  border-width: 0.4vw;
}

.floating_nametag:hover {
  cursor: grab;
}

.floating_nametag:active {
  cursor: grabbing;
}

#table_floating_nametag {
  top: 114%;
  left: 25%;
}

#table_floating_nametag .player_cash {
  border-color: var(--secondary-color);
}

#table_floating_nametag:hover {
  cursor: default;
}