:root {
  --primary-color: greenyellow;
  --secondary-color: steelblue;
  --btn-color: orange;
  
  --table-width: 3000px;
  --table-height: 3000px;
  
  --table-z-index: 1;
  --ui-z-index: 1000;
  --login-z-index: 2000;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'ff-brokenscript-web', 'Josefin Sans', sans-serif;
}

/* width */
/* ::-webkit-scrollbar {
  width: 5px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: transparent;
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
  border-style: solid;
  border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-style: solid;
  border-radius: 10px;
} */

#table_container {
  position: fixed;
  z-index: var(--table-z-index);
  
  width: 100%;
  height: 100%;
  
  overflow: scroll;
  cursor: default;
  
  touch-action: none;
}

#table {
  position: absolute;
  top: 0;
  left: 0;
  
  height: var(--table-height);
  width: var(--table-width);
  
  background: url('/resources/backgrounds/table.svg');
  background-size: 100%;
  background-position: contain;
  background-repeat: no-repeat;
  

  margin: 0;
  padding: 0;
  
  transform-origin: top left;
  transition: all 0.4s;
  transform: scale(1.0);
  
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#table_spacer {
  content: '';
  position: relative;
  z-index: -1;
  height: var(--table-height);
  width: var(--table-width);
}

.table__bg_0 {
  background: url('/resources/backgrounds/table.svg');
}

.table__bg_1 {
  background: url('/resources/backgrounds/table.svg');
}

#drawing_area {
  height: 100%;
  width: 100%;

  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@media screen and (orientation:portrait) and (max-width: 992px) {
  .terminal_container {
    height: 30vh !important;
    width: 95vw !important;
    margin-left: 2vw !important;
    margin-top: 3vh !important;
    
    font-size: 3em;
  }
  
  .terminal_container #console_input {
    width: 85% !important;
  }
}

@media screen and (orientation:landscape) and (max-width: 992px) {
  #combine_btn {
    top: 12vw;
  }
}

.card {
  position: absolute;
  width: 8vw;
  height: 11.2vw;

  background-color: transparent;

  perspective: 1000px;

  touch-action: none;
}

.card:hover {
  cursor: grab;
}

.card:active {
  cursor: grabbing;
}

.card_inner {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 0.9vw;
  box-shadow: 0px 0px 0px 1px black;

  background-size: cover !important;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card_rotate_global {
  transform: rotateY(180deg);
}

.card_rotate_local {
  transform: rotateX(145deg);
}

.card_front, .card_back {
  position: absolute;
  width: 100%;
  height: 100%;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card_front {
  transform: rotateY(180deg);
}

.card_back {
  background: url('/resources/cards/card_top_v3.svg');
}

.card_return_to_deck_anim {
  transition: all 1s;
}

.chip {
  position: absolute;
  width: 5.6vw;
  height: 5.6vw;

  background-color: transparent;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  z-index: 500;
  /*perspective: 1000px;*/

  border-radius: 5.6vw;

  touch-action: none;

  -webkit-transform: translate3d(0,0,0);
}

.chip:hover {
  cursor: grab;
}

.chip:active {
  cursor: grabbing;
}

.chip_100 {
  background: url('/resources/chips/100_pokerchip.svg');
}

.chip_50 {
  background: url('/resources/chips/50_pokerchip.svg');
}

.chip_25 {
  background: url('/resources/chips/25_pokerchip.svg');
}

.chip_5 {
  background: url('/resources/chips/5_pokerchip.svg');
}

.chip_1 {
  background: url('/resources/chips/1_pokerchip.svg');
}

.deal_button input {
  width: 2vw;
}

.deal_button label {
  font-size: 1.25vw;
}



.player {
  position: absolute;
  z-index: 500;
  height: 0.5vw;
  width: 0.5vw;
  margin-top: -0.25vw;
  margin-left: -0.25vw;

  border-radius: 5vw;

  pointer-events: none;

  -webkit-transform: translate3d(0,0,0);
}

.player_anim {
  transition: all 0.1s;
}

.player .nametag {
  position: relative;
  font-size: 1.5vw;
  top: -15px;
  left: 15px;
}

.floating_nametag {
  position: absolute;
  text-align: center;
  font-size: 1.5vw;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  touch-action: none;

  -webkit-transform: translate3d(0,0,0);
}

.floating_nametag .player_cash {
  margin-top: 0.1vw;
  padding-top: 0.1vw;
  border-top: solid;
  border-width: 0.4vw;
}

.floating_nametag:hover {
  cursor: grab;
}

.floating_nametag:active {
  cursor: grabbing;
}

#table_floating_nametag {
  top: 114%;
  left: 25%;
}

#table_floating_nametag .player_cash {
  border-color: var(--secondary-color);
}

#table_floating_nametag:hover {
  cursor: default;
}