.ui_grid {
  display: grid;
  
  height: 100%;
  width: 100%;
  
  grid-template-columns: 5vh 10vh 0.1fr 1fr 1fr 1fr 5vh;
  grid-template-rows: 10vh 1fr 10vh 20px;
  
  grid-template-areas:
    ". header header header header header ."
    ". . . . . . ."
    ". tiles . hand hand tools ."
    ". . . . . . .";
}

.deck_area {
  z-index: var(--ui-z-index);
  
  vertical-align: top;

  background-color: var(--secondary-color);
  border-radius: 0.5vw;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.deck_area h2 {
  position: relative;
  color: black;
  top: 38%;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 0px white;
  z-index: 100;

  pointer-events: none;
}

.icon_grid {
  display: grid;
  z-index: var(--ui-z-index);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "icon_row_1"
    "icon_row_2";
}

.icon_row {
  
}

#ui_tiles {
  grid-area: tiles;
}

#ui_hand {
  grid-area: hand;
}

#ui_tools {
  grid-area: tools;
}

#icon_row_1 {
  grid-area: icon_row_1;
}

#icon_row_2 {
  grid-area: icon_row_2;
}

.draw_icon {
  display: inline-block;
  vertical-align: top;
  height: 2vw;
  width: 2vw;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 5px;
  float: right;

  background-color: var(--btn-color) !important;
  background-size: 2vw !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  border-radius: 5px;

  cursor: pointer;
}

#pointer_icon {
  background: url('/resources/icons/cursor.svg');
}

#pencil_icon {
  background: url('/resources/icons/pencil.svg');
}

#eraser_icon {
  background: url('/resources/icons/eraser.svg');
}

#question_icon {
  background: url('/resources/icons/question.svg');
}

#terminal_icon {
  background: url('/resources/icons/terminal.svg');
}

#wallpaper_icon {
  background: url('/resources/icons/wallpaper.svg');
}